{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <div class="logo-container mx-4">
          <img class="logo" src="{% static 'images/me.jpg' %}" alt="Logo" >
        </div>
        </a>
        <a class="nav-link active  me-4 hn" href="#"><b class="name">RAHUL P.R</b></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end me-5" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a href="./" class="nav-link active mx-4" aria-current="page" href="#"><b>HOME</b></a>
            <a href="./#about" class="nav-link active mx-4" href="#"><b>ABOUT</b></a>
            <a href="./#projects" class="nav-link active mx-4" href="#"><b>PROJECTS</b></a>
            <a href="./#contact" class="nav-link active mx-4" href="#"><b>CONTACT</b></a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12  bg">
            <div class="content-above ">
              <h1 class="n"><b>HEY, I'M RAHUL</b></h1>
              <p class="desc">A Python Full stack Web Developer building Robust Websites and Web Applications that leads to the success of the overall product</p>
              <a href="./#projects" class="btn ">PROJECTS</a>
            </div>
            <div class="social">
              <a target="_blank" href=" https://www.linkedin.com/in/rahul-devolop?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BpneBs34DSae%2F7VHLiDlMsw%3D%3D" class="link d-block">
                  <i class="bi bi-linkedin"></i>
              </a>
              <a target="_blank" href="https://www.instagram.com/_rahul_junior?igsh=dG9td2l2OXBvaG9y" class="link d-block">
                  <i class="bi bi-instagram"></i>
              </a>
              <a target="_blank" href="https://github.com/rahulxzoro" class="link d-block">
                  <i class="bi bi-github"></i>
              </a>
              <a target="_blank" href="https://www.youtube.com/channel/UCdoymA2OVTErd45q7XP1JcA" class="link d-block">
                <i class="bi bi-youtube"></i>
              </a>
          </div>

          <div id="about" class="mouse">
            <div class="roll"></div>
            <div class="rollshadow"></div>
          </div>

          <div  class="about">
            <h3 class="h1"><b>ABOUT ME</b></h3>
              <p class="ab text-muted">Here you will find more information about me, what I do, and my current skills mostly in terms <br>of programming and technology</p>
          </div>

          <div class="row content">
            <div class="col-lg-6">
          <h3 class="me">Get to know me!</h3>
          <p class="p"> Greetings! 👋 I'm a <b>Python Full Stack Web Developer</b> dedicated to crafting robust and efficient web solutions that contribute to the success of overall products. Explore some of my projects in the Portfolio section.
          </p>
           <p class="p"> I'm passionate about sharing my insights and experiences in Python development with the Dev Community. Connect or follow me on <b>LinkedIn</b> for regular updates and valuable content related to Python Full Stack development and programming.</p>
            
           <p class="p"> Currently open to exciting <b>job</b> opportunities where I can leverage my skills, contribute meaningfully, and continue to learn and grow. If you have a compelling opportunity aligning with my expertise, don't hesitate to reach out.</p>
            
            <p class="p">Let's connect and explore the possibilities! 🚀</p>

            <a href="./#contact" class="btn btn--med btn--theme ">Contact</a>
          </div>
          <div class="col-lg-6 ">
            <h3 class="skill">My Skills</h3>

            <div class="skills"> 
                <div class="s">HTML</div>
                <div class="s">CSS</div>
                <div class="s">BOOTSTRAP</div>
                <div class="s">PYTHON</div>
                <div class="s">DJANGO</div>
                <div class="s">FLASK</div>
                <div class="s">REST API</div>
                <div class="s">GIT</div>
                <div class="s">GIT HUB</div>
                <div class="s">RESPONSIVE DESIGN</div>
                <div class="s">SQLite</div>
                <div class="s">SQL</div>
              </div>
        </div>
        </div>
       
              <img class="bg-image" src="{% static 'images/bg.svg' %}" alt="">
              <div class="gradient-overlay">
              </div>
          </div>
      </div>
  </div>


  <div id="projects" class="container-fluid">
    <div class="row c4">
      <h2 class="project">PROJECTS</h2>
      <p class="pdesc">Here you will find some of the personal and clients projects that I created with each project containing its own case study</p>
    </div>
    <div class="row c5">
      <div class="col-lg-6 im1">
        <img class="pro1" src="{% static 'images/p1.png' %}" alt="">
      </div>
      <div class="col-lg-6">
        <div class="pcontent">
        <h3 class="pname">Furniture</h3>
        <p class="pd">I created an online store for furniture, featuring a variety of stylish pieces. With easy navigation and secure payments, users can shop hassle-free. This project allowed me to delve into e-commerce web development and enhance my skills in building user-friendly platforms.</p>
        <a target="_blank" href="https://github.com/rahulxzoro/finalproject.git" class="btn btn--med btn--theme ">Git Link</a>
      </div>
    </div>
    </div>
    <div class="row c6">
      <div class="col-lg-6">
        <img class="pro2" src="{% static 'images/p2.png' %}" alt="">
      </div>
      <div class="col-lg-6">
        <div class="pcontent1">
          <h3 class="pname">Boat Clone</h3>
        <p class="pd">I recreated the Boat Nirvana website, focusing on its beautiful design and easy-to-use features. This project helped me improve my web development skills and understand how to make websites that people enjoy using.
        </p>
        <a href="" class="btn btn--med btn--theme ">Git Link</a>
        </div>
      </div>
      </div>
      <div class="row c6">
        <div class="col-lg-6">
          <img class="pro2" src="{% static 'images/p3.png' %}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="pcontent1">
            <h3 class="pname">Timezone clone</h3>
          <p class="pd">I re-created the frontend of Timezne's official web app because I got attracted to their beautiful UI. It was a great experience for me to build the frontend..
          </p>
          <a href="" class="btn btn--med btn--theme ">Git Link</a>
          </div>
        </div>
        </div>
    </div>


<div id="contact" class="container-fluid">
      <div class="row">
          <div class="col-lg-12  bg1">
            <div class="content-above1 ">
              <h2 class="project1"><b>CONTACT</b></h2>
      <!-- <p class="pdesc1">Feel free to Contact me by submitting the form below and I will get back to you as soon as possible</p> -->
            </div>
            <form action="{% url 'submit_form' %}" method="POST">
              {% csrf_token %}
              <label class="cc" for="name">Your Name</label>
              <input type="text" id="name" name="name" placeholder="Your name.." required>
          
              <label class="cc" for="email">Your Email</label>
              <input type="email" id="email" name="email" placeholder="Your email.." required>
          
              <label class="cc" for="message">Message</label>
              <textarea id="message" name="message" placeholder="Write something.." style="height:200px" required></textarea>
          
              <button type="submit" class="btn sub">Submit</button>
          </form>
          
       
              <img class="bg-image1" src="{% static 'images/bg.svg' %}" alt="">
              <div class="gradient-overlay1">
              </div>
          </div>
      </div>
  </div>

  <footer class="foot">
    <div class="container-fluid">
      <div class="row">
    <div class="col-lg-8">
      <div class="fc">
      <h5 class="ddd"><b>RAHUL PR</b></h5>
      <p class="p ddd">A Python Full stack Web Developer building Robust Websites and Web Applications that leads to the success of the overall product</p>
    </div>
    </div>
    <div class="col-lg-4">
      <div class="fc">
      <h5 class="dd">SOCIAL</h5>
      <div class="icoo">
       <a target="_blank" href="https://www.linkedin.com/in/rahul-devolop?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BpneBs34DSae%2F7VHLiDlMsw%3D%3D"> <i class="bi bi-linkedin "></i></a>
       <a target="_blank" href="https://www.instagram.com/_rahul_junior?igsh=dG9td2l2OXBvaG9y"><i class="bi bi-instagram p-1"></i></a>
       <a target="_blank" href="https://github.com/rahulxzoro"><i class="bi bi-github p-1"></i></a>
       <a target="_blank" href="https://www.youtube.com/channel/UCdoymA2OVTErd45q7XP1JcA"><i class="bi bi-youtube p-1"></i></a>
    </div>
    </div>
  </div>
  <div class="under">
    <p class="copy">© Copyright 2024. Made by Rahul Pr</p>

  </div>
  </div>
</div>

</footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
